In [ ]:
# SVM:- Supervised algorithm:-
#    used for both classification and regression.
#    It takes more time on train data hence it is less used to regression but prediction are fast.
#    It is suitable for both binary and multiclass classification.
#objective: 1. Classify the classes correctly.
#           2. Maximize the margin(max distance from both the class)
#           3. Robust to outlier(ignore them)
#           4. Kernel trick--> if we have non-linear data (squr transformation) to form linear data
#Hyper Parameter to tune the SVM:
#       1. Kernel =Linear(very high dimensional data),rbf(radial bases function-->krnel trick 
#          part,it is default and can handel both),poly(non-linear data-->to fit polynomail hyper plan),
#          sigmoid arguments taken by kernel      
#       2. gamma:- It is not affected by linaer if we kept aside  
        #Lower value:- indicate the farthest support vector.
#       higher value:- of gamma indicate the colse support vector. lower value of gamma suppose to be consider.
#      3. cost :-(1.0) lower the cost value it will allow to misclassification of class (high margin)
#              High value of c will wont allow to misclassification try to give correct(lower Margin)
#When we use SVM:1. when we have no. of variable>no. of observation

In [1]:
import numpy as np
import pandas as pd

In [2]:
#loading training and test data
train_data=pd.read_csv(r'D:\MAMTA\Data Set\python\risk_analytics_train.csv',index_col=0,header=0)
test_data=pd.read_csv(r'D:\MAMTA\Data Set\python\risk_analytics_test.csv',index_col=0,header=0)

# Processing the training dataset

In [3]:
print(train_data.shape)
train_data.head()

(614, 12)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
#finding the missing values
print(train_data.isnull().sum())

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
#imputing categorical missing data with mode value

colname1=['Gender','Married','Dependents','Self_Employed','Loan_Amount_Term']
for x in colname1:
    train_data[x].fillna(train_data[x].mode()[0],inplace=True)

In [8]:
print(train_data.isnull().sum())

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
#imputing numerical missing data with mean value
train_data['LoanAmount'].fillna(train_data['LoanAmount'].mean(),inplace=True)
print(train_data.isnull().sum())

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
#imputing values for credit history column differently
train_data['Credit_History'].fillna(value=0,inplace=True)
#train_data['Credit_History']=train_data['Credit_History'].fillna(value=0)
print(train_data.isnull().sum())

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [11]:
#transforming categorical dataa to numerical
from sklearn import preprocessing
colname=['Gender','Married','Education','Self_Employed','Property_Area','Loan_Status']
le=preprocessing.LabelEncoder()
for x in colname:
    train_data[x]=le.fit_transform(train_data[x])
    
#converting loan status as y-->1 and N-->0

In [12]:
train_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,1,0,0.0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
LP001003,1,1,1.0,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
LP001005,1,1,0.0,0,1,3000,0.0,66.000000,360.0,1.0,2,1
LP001006,1,1,0.0,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
LP001008,1,0,0.0,0,0,6000,0.0,141.000000,360.0,1.0,2,1

# processing the test data

In [13]:
print(test_data.shape)
print(test_data)

(367, 11)
          Gender Married  Dependents     Education Self_Employed  \
Loan_ID
LP001015    Male     Yes         0.0      Graduate            No
LP001022    Male     Yes         1.0      Graduate            No
LP001031    Male     Yes         2.0      Graduate            No
LP001035    Male     Yes         2.0      Graduate            No
LP001051    Male      No         0.0  Not Graduate            No
LP001054    Male     Yes         0.0  Not Graduate           Yes
LP001055  Female      No         1.0  Not Graduate            No
LP001056    Male     Yes         2.0  Not Graduate            No
LP001059    Male     Yes         2.0      Graduate           NaN
LP001067    Male      No         0.0  Not Graduate            No
LP001078    Male      No         0.0  Not Graduate            No
LP001082    Male     Yes         1.0      Graduate           NaN
LP001083    Male      No         3.0      Graduate            No
LP001094    Male     Yes         2.0      Graduate           NaN
LP001096  Female      No         0.0      Graduate            No
LP001099    Male      No         1.0      Graduate            No
LP001105    Male     Yes         2.0      Graduate            No
LP001107    Male     Yes         3.0      Graduate            No
LP001108    Male     Yes         0.0      Graduate            No
LP001115    Male      No         0.0      Graduate            No
LP001121    Male     Yes         1.0  Not Graduate            No
LP001124  Female      No         3.0  Not Graduate            No
LP001128     NaN      No         0.0      Graduate            No
LP001135  Female      No         0.0  Not Graduate            No
LP001149    Male     Yes         0.0      Graduate            No
LP001153    Male      No         0.0      Graduate            No
LP001163    Male     Yes         2.0      Graduate            No
LP001169    Male     Yes         0.0      Graduate            No
LP001174    Male     Yes         0.0      Graduate            No
LP001176    Male      No         0.0      Graduate            No
...          ...     ...         ...           ...           ...
LP002856    Male     Yes         0.0      Graduate            No
LP002857    Male     Yes         1.0      Graduate           Yes
LP002858  Female      No         0.0      Graduate            No
LP002860    Male     Yes         0.0      Graduate           Yes
LP002867    Male      No         0.0      Graduate           Yes
LP002869    Male     Yes         3.0  Not Graduate            No
LP002870    Male     Yes         1.0      Graduate            No
LP002876    Male      No         0.0      Graduate            No
LP002878    Male     Yes         3.0      Graduate            No
LP002879    Male     Yes         0.0      Graduate            No
LP002885    Male      No         0.0  Not Graduate            No
LP002890    Male     Yes         2.0  Not Graduate            No
LP002891    Male     Yes         0.0      Graduate           Yes
LP002899    Male     Yes         2.0      Graduate            No
LP002901    Male      No         0.0      Graduate            No
LP002907    Male     Yes         0.0      Graduate            No
LP002920    Male     Yes         0.0      Graduate            No
LP002921    Male     Yes         3.0  Not Graduate            No
LP002932    Male     Yes         3.0      Graduate            No
LP002935    Male     Yes         1.0      Graduate            No
LP002952    Male      No         0.0      Graduate            No
LP002954    Male     Yes         2.0  Not Graduate            No
LP002962    Male      No         0.0      Graduate            No
LP002965  Female     Yes         0.0      Graduate            No
LP002969    Male     Yes         1.0      Graduate            No
LP002971    Male     Yes         3.0  Not Graduate           Yes
LP002975    Male     Yes         0.0      Graduate            No
LP002980    Male      No         0.0      Graduate            No
LP002986    Male     Yes         0.0      Graduate            No
LP002989    Male      No         0.0      Graduate           Yes

          ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
Loan_ID
LP001015             5720                  0       110.0             360.0
LP001022             3076               1500       126.0             360.0
LP001031             5000               1800       208.0             360.0
LP001035             2340               2546       100.0             360.0
LP001051             3276                  0        78.0             360.0
LP001054             2165               3422       152.0             360.0
LP001055             2226                  0        59.0             360.0
LP001056             3881                  0       147.0             360.0
LP001059            13633                  0       280.0             240.0
LP001067             2400               2400       123.0             360.0
LP001078             3091                  0        90.0             360.0
LP001082             2185               1516       162.0             360.0
LP001083             4166                  0        40.0             180.0
LP001094            12173                  0       166.0             360.0
LP001096             4666                  0       124.0             360.0
LP001099             5667                  0       131.0             360.0
LP001105             4583               2916       200.0             360.0
LP001107             3786                333       126.0             360.0
LP001108             9226               7916       300.0             360.0
LP001115             1300               3470       100.0             180.0
LP001121             1888               1620        48.0             360.0
LP001124             2083                  0        28.0             180.0
LP001128             3909                  0       101.0             360.0
LP001135             3765                  0       125.0             360.0
LP001149             5400               4380       290.0             360.0
LP001153                0              24000       148.0             360.0
LP001163             4363               1250       140.0             360.0
LP001169             7500               3750       275.0             360.0
LP001174             3772                833        57.0             360.0
LP001176             2942               2382       125.0             180.0
...                   ...                ...         ...               ...
LP002856             2292               1558       119.0             360.0
LP002857             2360               3355        87.0             240.0
LP002858             4333               2333       162.0             360.0
LP002860             2623               4831       122.0             180.0
LP002867             3972               4275       187.0             360.0
LP002869             3522                  0        81.0             180.0
LP002870             4700                  0        80.0             360.0
LP002876             6858                  0       176.0             360.0
LP002878             8334                  0       260.0             360.0
LP002879             3391               1966       133.0             360.0
LP002885             2868                  0        70.0             360.0
LP002890             3418               1380       135.0             360.0
LP002891             2500                296       137.0             300.0
LP002899             8667                  0       254.0             360.0
LP002901             2283              15000       106.0             360.0
LP002907             5817                910       109.0             360.0
LP002920             5119               3769       120.0             360.0
LP002921             5316                187       158.0             180.0
LP002932             7603               1213       197.0             360.0
LP002935             3791               1936        85.0             360.0
LP002952             2500                  0        60.0             360.0
LP002954             3132                  0        76.0             360.0
LP002962             4000               2667       152.0             360.0
LP002965             8550               4255        96.0             360.0
LP002969             2269               2167        99.0             360.0
LP002971             4009               1777       113.0             360.0
LP002975             4158                709       115.0             360.0
LP002980             3250               1993       126.0             360.0
LP002986             5000               2393       158.0             360.0
LP002989             9200                  0        98.0             180.0

          Credit_History Property_Area
Loan_ID
LP001015             1.0         Urban
LP001022             1.0         Urban
LP001031             1.0         Urban
LP001035             NaN         Urban
LP001051             1.0         Urban
LP001054             1.0         Urban
LP001055             1.0     Semiurban
LP001056             0.0         Rural
LP001059             1.0         Urban
LP001067             1.0     Semiurban
LP001078             1.0         Urban
LP001082             1.0     Semiurban
LP001083             NaN         Urban
LP001094             0.0     Semiurban
LP001096             1.0     Semiurban
LP001099             1.0         Urban
LP001105             1.0         Urban
LP001107             1.0     Semiurban
LP001108             1.0         Urban
LP001115             1.0     Semiurban
LP001121             1.0         Urban
LP001124             1.0         Urban
LP001128             1.0         Urban
LP001135             1.0         Urban
LP001149             1.0         Urban
LP001153             0.0         Rural
LP001163             NaN         Urban
LP001169             1.0         Urban
LP001174             NaN     Semiurban
LP001176             1.0         Urban
...                  ...           ...
LP002856             1.0         Urban
LP002857             1.0         Rural
LP002858             0.0         Rural
LP002860             1.0     Semiurban
LP002867             1.0         Rural
LP002869             1.0         Rural
LP002870             1.0         Urban
LP002876             1.0         Rural
LP002878             1.0         Urban
LP002879             0.0         Rural
LP002885             1.0         Urban
LP002890             1.0         Urban
LP002891             1.0         Rural
LP002899             1.0         Rural
LP002901             NaN         Rural
LP002907             1.0         Urban
LP002920             1.0         Rural
LP002921             0.0     Semiurban
LP002932             1.0         Urban
LP002935             1.0         Urban
LP002952             1.0         Urban
LP002954             NaN         Rural
LP002962             1.0     Semiurban
LP002965             NaN         Urban
LP002969             1.0     Semiurban
LP002971             1.0         Urban
LP002975             1.0         Urban
LP002980             NaN     Semiurban
LP002986             1.0         Rural
LP002989             1.0         Rural

[367 rows x 11 columns]

In [14]:
print(test_data.isnull().sum())

Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [15]:
colname1=['Gender','Dependents','Self_Employed','Loan_Amount_Term']
for x in colname1:
    test_data[x].fillna(test_data[x].mode()[0],inplace=True)

In [16]:
print(test_data.isnull().sum())

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      0
Credit_History       29
Property_Area         0
dtype: int64

In [18]:
test_data['LoanAmount'].fillna(test_data['LoanAmount'].mean(),inplace=True)
print(test_data.isnull().sum())

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       29
Property_Area         0
dtype: int64

In [19]:
test_data['Credit_History'].fillna(value=0,inplace=True)
#train_data['Credit_History']=train_data['Credit_History'].fillna(value=0)
print(test_data.isnull().sum())

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [20]:
#transforming categorical dataa to numerical
from sklearn import preprocessing
colname=['Gender','Married','Education','Self_Employed','Property_Area']
le=preprocessing.LabelEncoder()
for x in colname:
    test_data[x]=le.fit_transform(test_data[x])
    
#converting loan status as y-->1 and N-->0

In [21]:
print(test_data.head())

          Gender  Married  Dependents  Education  Self_Employed  \
Loan_ID
LP001015       1        1         0.0          0              0
LP001022       1        1         1.0          0              0
LP001031       1        1         2.0          0              0
LP001035       1        1         2.0          0              0
LP001051       1        0         0.0          1              0

          ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
Loan_ID
LP001015             5720                  0       110.0             360.0
LP001022             3076               1500       126.0             360.0
LP001031             5000               1800       208.0             360.0
LP001035             2340               2546       100.0             360.0
LP001051             3276                  0        78.0             360.0

          Credit_History  Property_Area
Loan_ID
LP001015             1.0              2
LP001022             1.0              2
LP001031             1.0              2
LP001035             0.0              2
LP001051             1.0              2

# creating training and testing dataset and running the model

In [22]:
X_train=train_data.values[:,:-1]
Y_train=train_data.values[:,-1]
Y_train=Y_train.astype(int)    #convering into integer

In [23]:
#test datahead()
X_test=test_data.values[:,:]

In [24]:
#Here fit function will work once only of train data and transform to both train as well as test data

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X_train)       #Here it will create a range for both
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

In [25]:
X_train

array([[ 0.47234264, -1.37208932, -0.73780632, ...,  0.2732313 ,
         0.54095432,  1.22329839],
       [ 0.47234264,  0.72881553,  0.25346957, ...,  0.2732313 ,
         0.54095432, -1.31851281],
       [ 0.47234264,  0.72881553, -0.73780632, ...,  0.2732313 ,
         0.54095432,  1.22329839],
       ...,
       [ 0.47234264,  0.72881553,  0.25346957, ...,  0.2732313 ,
         0.54095432,  1.22329839],
       [ 0.47234264,  0.72881553,  1.24474546, ...,  0.2732313 ,
         0.54095432,  1.22329839],
       [-2.11710719, -1.37208932, -0.73780632, ...,  0.2732313 ,
        -1.84858491, -0.04760721]])

In [26]:
X_test

array([[ 0.47234264,  0.72881553, -0.73780632, ...,  0.2732313 ,
         0.54095432,  1.22329839],
       [ 0.47234264,  0.72881553,  0.25346957, ...,  0.2732313 ,
         0.54095432,  1.22329839],
       [ 0.47234264,  0.72881553,  1.24474546, ...,  0.2732313 ,
         0.54095432,  1.22329839],
       ...,
       [ 0.47234264, -1.37208932, -0.73780632, ...,  0.2732313 ,
        -1.84858491, -0.04760721],
       [ 0.47234264,  0.72881553, -0.73780632, ...,  0.2732313 ,
         0.54095432, -1.31851281],
       [ 0.47234264, -1.37208932, -0.73780632, ..., -2.52283563,
         0.54095432, -1.31851281]])

In [32]:
from sklearn import svm
svc_model=svm.SVC(kernel='rbf',C=1.0,gamma=0.1)    #SVC--> support vector classifier
from sklearn.linear_model import LogisticRegression
#svm_model=LogisticRegression()
svc_model.fit(X_train,Y_train)
Y_pred=svc_model.predict(X_test)
print(list(Y_pred))

[1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1]

In [29]:
test_data=pd.read_csv(r'D:\MAMTA\Data Set\python\risk_analytics_test.csv',header=0)
test_data["Y_prediction"]=Y_pred
test_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Y_prediction
0,LP001015,Male,Yes,0.0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1
1,LP001022,Male,Yes,1.0,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1
2,LP001031,Male,Yes,2.0,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,1
3,LP001035,Male,Yes,2.0,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,0
4,LP001051,Male,No,0.0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,1

In [30]:
test_data.to_csv(r'D:\MAMTA\Data Set\python\test_data.csv')   #to create a file

In [ ]:
#Create a validation set: train :- train(70%)   
#                                 validate(30%) we get y actual and y predict
#                        test:-

In [40]:
#classifier=(LogisticRegression())
svc_model=svm.SVC(kernel='rbf',C=10.0,gamma=0.001)
#performing kfold_cross_validation
from sklearn.model_selection import KFold
kfold_cv=KFold(n_splits=10)
print(kfold_cv)

from sklearn.model_selection import cross_val_score    #perform the iteration
#running the model using scoring metric as accuracy
kfold_cv_result=cross_val_score(estimator=svc_model,X=X_train,
y=Y_train, cv=kfold_cv)
print(kfold_cv_result)
#finding the mean
print(kfold_cv_result.mean())

KFold(n_splits=10, random_state=None, shuffle=False)
[0.77419355 0.82258065 0.74193548 0.72580645 0.7704918  0.68852459
 0.80327869 0.7704918  0.7704918  0.83606557]
0.770386039132734

In [41]:
#classifier=(LogisticRegression())
svc_model=svm.SVC(kernel='rbf',C=10.0,gamma=0.001)
#performing kfold_cross_validation
from sklearn.model_selection import KFold
kfold_cv=KFold(n_splits=10)
print(kfold_cv)

from sklearn.model_selection import cross_val_score    #perform the iteration
#running the model using scoring metric as accuracy
kfold_cv_result=cross_val_score(estimator=classifier,X=X_train,
y=Y_train, cv=kfold_cv)
print(kfold_cv_result)
#finding the mean
print(kfold_cv_result.mean())

KFold(n_splits=10, random_state=None, shuffle=False)
[0.77419355 0.82258065 0.74193548 0.72580645 0.7704918  0.68852459
 0.80327869 0.7704918  0.78688525 0.83606557]
0.772025383395029

C:\Users\Mamta\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mamta\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mamta\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mamta\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mamta\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mamta\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mamta\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mamta\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mamta\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mamta\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)