# Feature Selection Technique

In [ ]:
"""
1. Recursive feature elimination-->RFE (classifier,8-independent variable) same as Backwork and forward method in R
start with all the independent variable it satrt iteration till the value we specify i.e 8
In this method it gives Ranking to variables depending upon the important value(like p value) which one to eliminate 1st

2. Univariate Feature Selection method-->
#a.)select k best(chi squr,k=10)
It wont wrok with real negative value
In this methos it will calculate the chi squr value of all x variable from with we select the top 10
#b.)Select percentile(precentile=70) : It will select the 70% of the data

3. Based on Variance:-
    variance Threshold(threshold=0.0): absolutly no variety drop the data
    variance threshold(threshold=0.3): In this all the value which is less than 0.3 will eliminate
"""
#Grid search cross validation()

In [5]:
import numpy as np
import pandas as pd
import sklearn

In [6]:
adult_df = pd.read_csv(r'D:\MAMTA\Data Set\python\adult_data.csv',
                       header = None, delimiter=' *, *',engine='python')

adult_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
classifier=(logisticRegression())

NameError: name 'logisticRegression' is not defined

In [3]:
colname=adult_df_rev.columns[:]
 
from sklearn.feature_selection import RFE
rfe = RFE(classifier, 8)
model_rfe = rfe.fit(X_train, Y_train)
print("Num Features: ",model_rfe.n_features_)
print("Selected Features: ")
print(list(zip(colname, model_rfe.support_)))
print("Feature Ranking: ", model_rfe.ranking_)
 
Y_pred=model_rfe.predict(X_test)
#print(list(zip(Y_test,Y_pred)))

NameError: name 'adult_df_rev' is not defined

In [ ]:
colname=adult_df_rev.columns[:]

from sklearn.feature_selection import RFE
rfe = RFE(classifier, 8)
model_rfe = rfe.fit(X_train, Y_train)
print("Num Features: ",model_rfe.n_features_)
print("Selected Features: ") 
print(list(zip(colname, model_rfe.support_)))
print("Feature Ranking: ", model_rfe.ranking_) 

Y_pred=model_rfe.predict(X_test)
#print(list(zip(Y_test,Y_pred)))